body{font-variant: small-caps;}

/*TOPO*/
.fundo{margin: auto; background-image: url("../imagens/fundo.jpg"); color: #c7c7c7;}
.topo{margin: auto; margin-top: 20px;}
.modif{margin: auto; margin-top: 20px; font-size: 16px; background-image: url("../imagens/conteudo.jpg"); padding: 20px; color: #333;}

.hidden{display: none;}

.main_footer{width: 100%; text-align: center; margin-bottom: 20px;}
.main_footer a{font-size: 14px; color: #333;}
.main_footer a:hover{text-decoration: underline;}