<!DOCTYPE HTML>
<html ng-app="sensorTemperatura">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="libs/jquery-3.0.0.min.js"></script>
        <script src="libs/highcharts/js/highcharts.js"></script>
        <script src="libs/highcharts/js/modules/exporting.js"></script>
        <script src="libs/angular.min.js"></script>
        <script src="js/sensor.js"></script>
        <script src="js/grafico.js"></script>
        <title>Sensor de temperatua automatizado</title>
    </head>
    <body class="fundo" ng-controller="controle">

        <div class="topo">
            <h2>Sensor de temperatura automatizado</h2>
        </div>

        <!-- MENU LATERAL -->
        <div>
            <div class="modif col-lg-3">
                <div class="form-group">
                    <span>Sensibilidade para o alarme a partir de:
                        <input type="number" class="form-control" ng-model="dados.variaveis">
                    </span>
                </div>

                <div class="form-group">
                    <span>Alguma coisa:
                        <input type="number" class="form-control" ng-model="dados.variaveis">
                    </span>
                </div>

                <div class="form-group">
                    <span>Porta analógica do sensor de MQ-2:
                        <input type="text" class="form-control" ng-model="dados.variaveis">
                    </span>
                </div>

                <div class="form-group">
                    <span>Alguma coisa:
                        <input type="number" class="form-control" ng-model="dados.variaveis">
                    </span>
                </div>

                <div class="form-group">
                    <span>Alguma coisa:
                        <input type="number" class="form-control" ng-model="dados.variaveis">
                    </span>
                </div>
            </div>
            
            <!-- GRAFICO -->
            <div id="container" class="col-lg-8 grafico"></div>
        </div>

        <!-- FOOTER -->
        <footer class="modif main_footer col-lg-12">
            <a href="https://github.com/eduardoValle/sensorTemperatura" target="_blank" title="Projeto Simplex">&copy; Projeto Sensor de temperatura automatizado - Todos os Direitos Reservados</a>
        </footer>
    </body>
</html>
